#FieldsetID{
    width: 250px;
}

input{
    margin-bottom: 4px;
}

#FieldsetID div{
display: flex;
justify-content: space-between;
height: 35px;
}

#StrelicaUnesi{
    transform: rotate(90deg);
    background-color: orangered;
    padding: 4px;
    cursor: pointer;
}

#rbtnLevo:checked{
    accent-color: green;
}

#rbtnDesno:checked{
    accent-color: purple;
}

#DivOmotacPokazatelj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}


/* LEVA STRANA */
#Levo{
    width: 170px;
}

#DivStavkeLevo{
    width: 170px;
    min-height: 150px; /* auto / fit-content */
    max-height: none;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.LeveStavke{
    width: 150px;
    height: 30px;
    background-color: rgb(135, 183, 63);;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.dimenzijaSlike{
    width: 25px ;
    height: 25px ;
}

.SlikaPraznaLevo{
    content: url(images/check-prazan-zeleni.png);
    width: 25px ;
    height: 25px ;
    display: inline-block;
}

.SlikaSelektovanaLevo{
    content: url(images/check-zeleni.png) !important;
}

.SelektovanaStavkaLevo{
    background-color:greenyellow;
}

.DeselektovanaStavkaLevo{
    background-color: rgb(176, 228, 176);
}

#divLevoBtn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 160px;
    height: 100px;
    justify-content: space-evenly
}

#divLevoBtn button{
    height: 35px;
    width: 150px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* STRELICE (SREDINA) */
#Strelice{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Strelice img{
    background-color: orangered;
    padding: 4px;
    cursor: pointer;
}

.Siva{ 
    background-color: grey !important; 
    cursor: not-allowed !important;
}



/* DESNA STRANA */
#Desno{
    width: 170px;
}

#DivStavkeDesno{
    width: 170px;
    min-height: 150px; /* auto / fit-content */
    height: auto;
    max-height: none;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.DesnoStavke{
    width: 150px;
    height: 30px;
    background-color: rgb(197, 18, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.SlikaPraznaDesno{
    content: url(images/check-prazan-lila.png);
    width: 25px;
    height: 25px;
}

.SlikaSelektovanaDesno{
    content: url(images/check-lila.png) !important;
}

.SelektovanaStavkaDesno{
    background-color: rgb(255, 80, 255);
    color: white;
}

.DeselektovanaStavkaDesno{
    background-color: rgb(211, 142, 211);
}

#divDesnoBtn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 160px;
    height: 100px;
    justify-content: space-evenly
}

#divDesnoBtn button{
    height: 35px;
    width: 150px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
